# 03 — Dashboard Metrics & Executive Summary

High-level KPI cards and summary tables ready for Power BI / Tableau / Excel export.

In [1]:
import sys, os
sys.path.insert(0, os.path.abspath(".."))

import pandas as pd

# Load all KPI sheets from the Excel workbook
kpi_report = pd.read_excel("../data/warehouse/kpi_report.xlsx", sheet_name=None)
print("Sheets in KPI report:")
for name, df in kpi_report.items():
    print(f"  {name}: {len(df)} rows")

Sheets in KPI report:
  daily_revenue: 396 rows
  weekly_revenue: 58 rows
  monthly_revenue: 13 rows
  average_order_value: 1 rows
  orders_per_day: 396 rows
  revenue_per_hour: 17 rows
  peak_hours: 17 rows
  weekday_vs_weekend: 2 rows
  top_menu_items: 45 rows
  revenue_by_category: 6 rows

## Executive KPI Cards

In [2]:
daily_rev = kpi_report["daily_revenue"]
orders_day = kpi_report["orders_per_day"]
aov = kpi_report["average_order_value"]
peak = kpi_report["peak_hours"]
top_items = kpi_report["top_menu_items"]
rev_cat = kpi_report["revenue_by_category"]

total_revenue = daily_rev["total_revenue"].sum()
total_orders = orders_day["orders_count"].sum()
avg_order_value = aov["average_order_value"].iloc[0]
avg_daily_orders = orders_day["orders_count"].mean()
peak_hour = peak.sort_values("orders_count", ascending=False).iloc[0]["hour"]
top_item = top_items.iloc[0]["item_name"]
top_category = rev_cat.iloc[0]["category_name"]

print("=" * 50)
print("       RESTAURANT KPI EXECUTIVE SUMMARY")
print("=" * 50)
print(f"  Total Revenue         : ₹{total_revenue:>12,.2f}")
print(f"  Total Orders          : {total_orders:>12,}")
print(f"  Avg Order Value (AOV) : ₹{avg_order_value:>12,.2f}")
print(f"  Avg Orders / Day      : {avg_daily_orders:>12,.1f}")
print(f"  Peak Hour             : {int(peak_hour):>12}:00")
print(f"  #1 Menu Item          : {top_item:>12}")
print(f"  #1 Category           : {top_category:>12}")
print("=" * 50)

==================================================
       RESTAURANT KPI EXECUTIVE SUMMARY
==================================================
  Total Revenue         : ₹1,074,370.00
  Total Orders          :        5,000
  Avg Order Value (AOV) : ₹      214.87
  Avg Orders / Day      :         12.6
  Peak Hour             :           18:00
  #1 Menu Item          : Grilled Chicken
  #1 Category           :  Main Course
==================================================

## Top 10 Menu Items

In [3]:
top_items.head(10).style.format({"total_revenue": "₹{:,.0f}", "total_quantity": "{:,.0f}"})

## Revenue by Category Table

In [4]:
rev_cat["revenue_pct"] = (rev_cat["total_revenue"] / rev_cat["total_revenue"].sum() * 100).round(1)
rev_cat.style.format({"total_revenue": "₹{:,.0f}", "total_quantity": "{:,.0f}", "revenue_pct": "{:.1f}%"})

## Weekday vs Weekend Summary

In [5]:
wk_vs_we = kpi_report["weekday_vs_weekend"]
wk_vs_we.style.format({"total_revenue": "₹{:,.0f}", "orders_count": "{:,.0f}"})

## Monthly Revenue Table

In [6]:
monthly = kpi_report["monthly_revenue"]
monthly.style.format({"total_revenue": "₹{:,.0f}"})